@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 9vh);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Color y bordes del thumb (barra de desplazamiento) */
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 5px;
}

/* Efecto hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
